* {
    margin: 0px;
    color: var(--font-color);
    line-height: var(--line-height);
}

:root {
    --font-color: #444;
    --line-height: 1.5em;
}

html {
    box-sizing: border-box;
}

header {
    text-align: center;
}

nav {
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    width: clamp(250px, 50vw, 750px);
}

.part > p,
.part > ul {
    width: clamp(45ch, 90%, 75ch);
    font-size: 22px;
    padding: 1rem;
    text-decoration: none;
    list-style: none;
}

.part {
    padding: 2rem 0;
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 22px;
    background-color: #6a6a6a;
    color: white;
    padding: 1rem;
}

li>button {
    background: inherit;
    border: 0;
    font-size: inherit;
    color: white;
}

h1 {
    width: clamp(calc(250px - 2rem), calc(50vw - 2rem), calc(750px - 2rem));
    margin: 0 auto;
    color: var(--font-color);
    padding: 3rem 0 1rem 0;
    font-size: calc(26px + 2vw);
    line-height: 1.2em;
}

.atomic-properties>li::before {
    content: "-->";
}

.align {
    padding: 1rem;  
}

h2 {
    padding: 0;
    font-size: calc(20px + 1.5vw);
}

h3 {
    font-size: calc(15px + 1.3vw);
    font-weight: 600;
}

h4 {
    font-size: calc(12px + 1.2vw);
    font-weight: 500;
}

img:first-of-type {
    width: 100vw;
    margin: -1rem;
}